---
import 'normalize.css';
import '@fontsource-variable/jetbrains-mono';

import '../styles/themes.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

    <link rel="icon" href="/favicon.png" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>David Pilo</title>

		<meta property="og:type"        content="website" />
		<meta property="og:url"         content="https://davidpilo.com/" />
		<meta property="og:title"       content="David Pilo" />
		<meta property="og:description" content="CEO & Founder of Walcu" />
		<meta property="og:image"       content="https://davidpilo.com/favicon.png" />

		<meta name="twitter:card"        content="summary" />
		<meta name="twitter:url"         content="https://davidpilo.com/" />
		<meta name="twitter:title"       content="David Pilo" />
		<meta name="twitter:description" content="CEO & Founder of Walcu" />
		<meta name="twitter:image"       content="https://davidpilo.com/favicon.png" />
	</head>
	<body>
    <slot />
	</body>
</html>

<style is:global>
  body {
    background-color: var(--body-bg);
    color: var(--body-fg);
    font-family: 'JetBrains Mono Variable', 'JetBrains Mono', monospace;
  }

  p {
    color: var(--p-color);
  }
</style>
